APP_ENV=development
POSTGRES_DB=meo_blog
POSTGRES_USER=meo
POSTGRES_PASSWORD=change_me_in_production
REDIS_ADDR=redis:6379
JWT_SECRET=change_me_in_production
ADMIN_PASSWORD=change_me_admin_password
ADMIN_SEQUENCE=change_me_admin_sequence
